
.p {
  text-align: center;
  color: #890620;
} 

.c{
  text-align: center;
}

#para1 {
  text-align: center;
  color: #B6465F;
}

.center {
  text-align: center;
  color: #fb6f92;
}

.hello{
  text-align: center;
  color: #d62828;
  font-family: verdana ;
}

.kitty{
  text-align: center;
  color: #f72585;
}

.kero{
  text-align: center;
  color: #a7c957;
  font-family: verdana ;
}

.ppi{
  text-align: center;
  color: #009c8c;
}

.my{
  text-align: center;
  color: #ffafcc;
  font-family: verdana ;
}

.melody{
  text-align: center;
  color: #48cae4;
}

.kuro{
   text-align: center;
  color: #b298dc;
  font-family: verdana ;
}

.mi{
  text-align: center;
  color: #22223b;
}

.pompom{
  text-align: center;
  color: #9c6644;
  font-family: verdana ;
}

.purin{
  text-align: center;
  color: #f9dc5c;

}

.cinnamon{
  text-align: center;
  color: #8ecae6;
  font-family: verdana ;
}

.roll{
  text-align: center;
  color: #abc4ff;

}

h1, h2, p {
  text-align: left;
  color: black;
}
