.punteado {
	border-style: dotted;
}

.discontinuo{
	border-style: dashed;
}

.solido{
	border-style: solid;
}

.doble{
	border-style: double;
}

.relieveranura{
	border-style: groove;
}

.relievecresta{
	border-style: ridge;
}

.haciadentro{
	border-style: inset;
}

.haciaafuera{
	border-style: outset;
}

.sinborde{
	border-style: none;
}

.oculto{
	border-style: hidden;
}

.combinado{
	border-style: dotted dashed solid double;
}

.bordeuno {
  border-style: solid;
  border-width: 5px;
}

.bordedos {
  border-style: solid;
  border-width: medium;
}

.bordetres {
  border-style: dotted;
  border-width: 2px;
}

.bordecuatro {
  border-style: dotted;
  border-width: thick;
}

.bordecinco {
  border-style: double;
  border-width: 15px;
}

.bordeseis {
  border-style: double;
  border-width: thick;
}

.one {
  border-style: solid;
  border-width: 5px 20px; 
}

.two {
  border-style: solid;
  border-width: 20px 5px; 
}

.three {
  border-style: solid;
  border-width: 25px 10px 4px 35px; 
}

.coloruno {
  border-style: solid;
  border-color: #FCC8B2;
}

.colordos {
  border-style: solid;
  border-color: #EFA48B;
} 

.colortres {
  border-style: dotted;
  border-color: #685369;
} 

.colorcuatro {
  border-style: solid;
  border-color: #FFC759 #FF7B9C #607196 #BABFD1;
} 

.cinco {
  border-style: solid;
  border-color: rgb(255, 0, 0); 
}

.seis {
  border-style: solid;
  border-color: rgb(0, 0, 255); 
}

.siete {
  border-style: solid;
  border-color: rgb(187, 187, 187);
}

.ocho {
  border-style: solid;
  border-color: hsl(0, 100%, 50%); 
}

.nueve {
  border-style: solid;
  border-color: hsl(240, 100%, 50%); 
}

.diez {
  border-style: solid;
  border-color: hsl(0, 0%, 73%); 
}

.once{
  border-style: dotted solid;
}

body {
  text-align: center;
}

.doce {
  border-style: dotted solid double dashed;
}

.trece {
  border-style: dotted solid double;
}

.catorce {
  border-style: dotted solid;
}

.quince {
  border-style: dotted;
}

.dieciseis {
  border-left: 6px solid #607196;
  background-color: #BABFD1;
}

.diecisiete {
  border-bottom: 6px solid #607196;
  background-color: #BABFD1;
}

.normal {
  border: 2px solid #63474D;
  padding: 5px;
}

.round1 {
  border: 2px solid #AA767C;
  border-radius: 5px;
  padding: 5px;
}

.round2 {
  border: 2px solid #D6A184;
  border-radius: 8px;
  padding: 5px;
}

.round3 {
  border: 2px solid #FFA686;
  border-radius: 12px;
  padding: 5px;
}



