.div1 {
  height: 50px;
  width: 100%;
  border: 3px solid #480355;
}

.div2 {
  height: 200px;
  width: 50%;
  background-color: #9448BC;
}

.div3 {
  height: 100px;
  width: 500px;
  background-color: #7699D4;
}

.div4 {
  max-width: 500px;
  height: 100px;
  background-color: #90FCF9;
}

img.one {
  height: auto;
}

img.two {
  height: 200px;
  width: 200px;
}

div.three {
  height: 300px;
  width: 300px;
  background-color: #2A7F62;
}

html, body {
  height: 100%;
}

img.three{
  height: auto;
  width: auto;
}

img.four {
  height: 50%;
  width: 50%;
}