ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;
}

.ul1 {
  list-style: none; /* Oculta la viñeta original */
}

.ul1 li::before {
  content: "";
  display: inline-block;
  background-image: url('/PracticasCSS/img/capibara.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;  /* Ajusta el tamaño aquí */
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
}

.capi {
  list-style-position: outside;
}

.bara {
  list-style-position: inside;
}

.sin-estilo {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.abreviada {
  list-style: square inside url("sqpurple.gif");
}

.ol1 {
  background: #ff9999;
  padding: 20px;
}

.ul2 {
  background: #3399ff;
  padding: 20px;
}

.ol1 li {
  background: #ffe5e5;
  color: darkred;
  padding: 5px;
  margin-left: 35px;
}

.ul2 li {
  background: #cce5ff;
  color: darkblue;
  margin: 5px;
}
